@import url('https://fonts.googleapis.com/css?family=Roboto');
.container {
    transform: translateY(-113%);
    max-width: 600px;
    padding: 10px 20px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    background-image:linear-gradient(315deg, #494343 0%, #7f8c8d 74%);;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

.alert {
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}
.blurpreg{
    background-image: url(preg.jpg);
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 170%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
body{
    background: url('vitals.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
  }
.button {
    margin-top: 3rem;
}
h1 {
    margin-bottom: 2rem;
    font-weight:bold;
    font-family:'Muli';
    font-size: 2em;
    color: rgb(165, 22, 22);
}
h2 {
    margin-bottom: 2rem;
    font-weight:bold;
    font-family:'Muli';
    font-size: 2em;
    color: rgb(165, 22, 22);
}
.btn{
    background: rgb(165, 22, 22);
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 1;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    font-size: large;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    font-size: large;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(179, 57, 57);
    color: white;
    font-size: large;
    font-family: 'Roboto', sans-serif;
  }
