@import url('https://fonts.googleapis.com/css?family=Roboto');
/* Add a black background color to the top navigation */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: large;
}

.blurhist{
  background-image: url(background\ copy.jpeg);
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;   
}
body{
  background: url('vitals.jpg') no-repeat top center;
  background-size: cover;
  height: 100vh;
}
.wrapper{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 10px;
}

.input-fields{
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  
}

.input-fields,
.msg{
  padding-left: 0px;
  width: 100%;
}

.input-fields .input,
.msg textarea{
  margin: 30px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #8B0000;
  padding: 10px;
  color: #FFFFFF;
  width: 100%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #FFFFFF;
}
@media screen and (max-width: 600px){
  .contact-form{
    flex-direction: column;
  }
  
  .input-fields,
  .msg{
    width: 100%;
  }
}
.container {
  max-width: 600px;
  padding: 10px 20px;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 2px;
}

.contact-form{
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  background-color:#000000;
background-image: linear-gradient(315deg, #7f8c8d 0%, #4e4d4d 74%);
  padding: 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


.btn{
  background: #8B0000;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}

table, th, td {

  width: 600px; 
  border: 1px solid black;
}

.table
{
  padding: 0px 0px;
  box-sizing: border-box;
 
  
  display: block;
  width: 80%;
  

  
  font-size: 16px;
  

}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(179, 57, 57);
    color: white;
  }