

    <head>
        <meta charset="utf-8">
        <title>Peprin Hospital</title>
        <link href="/navbar.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- Site CSS -->
        <link rel="stylesheet" href="style.css">
        <!-- Colors CSS -->
        <link rel="stylesheet" href="css/colors.css">
        <!-- ALL VERSION CSS -->
        <link rel="stylesheet" href="css/versions.css">
        <!-- Responsive CSS -->
        <!--<link rel="stylesheet" href="css/responsive.css">-->
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/custom.css">
        <!--<script src="js/modernizer.js"></script>-->
        <script src="js/all.js"></script>
      <!-- all plugins -->
      <script src="js/custom.js"></script>
      <!-- map -->
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="home">Home</a>
            <a href="vitals">Patient Vital signs</a>
            <a href="history">Vitals History</a>
           
            <a href="index"  style="float:right;">Logout</a>
            
          </div> 
          <div>
            <div class="text-contant">
              <h2>
                
                 <a href="" class="typewrite" data-period="2000" data-type='[ "Welcome to Peprin Hospital", "We Care Your Health", "We are Expert!" ]'>
                 <span class="wrap"></span>
                 </a>
              </h2>
           </div>
          </div>

        <!--
          <h2>Welcome to Peprin Hospital</h2>
          <div class="slideshow-container">

            <div class="mySlides fade">
              <div class="numbertext">1 / 3</div>
              <img src="img1.jpeg" style="width:100%" height="500px">
              <div class="text">One of 50 best hospitals in India</div>
            </div>
          
            <div class="mySlides fade">
              <div class="numbertext">2 / 3</div>
              <img src="img2.jpeg" style="width:100%" height="500px">
              <div class="text">1000+ doctors and staff</div>
            </div>
          
            <div class="mySlides fade">
              <div class="numbertext">3 / 3</div>
              <img src="img3.jpeg" style="width:100%" height="500px">
              <div class="text">Top hospital for coronavirus isolation wards</div>
            </div>
          
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>
          <br>
          
          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div>
        -->
          
          <div id="home" class="parallax first-section wow fadeIn" data-stellar-background-ratio="0.4" style="background-image:url('images/slider-bg.png');">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-12">
                    
                  </div>
               </div>
               <!-- end row -->
            </div>
            <!-- end container -->
         </div>
         <!-- end section -->
         <div id="time-table" class="time-table-section">
            <div class="container">
               <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="service-time one" style="background:#e65959;">
                        <span class="info-icon"><i class="fa fa-ambulance" aria-hidden="true"></i></span>
                        <h3>Emergency Case</h3>
                        <p>We are known for world-class emergency health services for critically ill patients.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="service-time middle" style="background:#4d2424;">
                        <span class="info-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span> 
                        <h3>Working Hours</h3>
                        <div class="time-table-section">
                           <ul>
                              <li><span class="left">Monday - Friday</span><span class="right">8.00 – 18.00</span></li>
                              <li><span class="left">Saturday</span><span class="right">8.00 – 16.00</span></li>
                              <li><span class="left">Sunday</span><span class="right">8.00 – 13.00</span></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="service-time three" style="background:#e65959;">
                        <span class="info-icon"><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
                        <h3>Clinic Timetable</h3>
                        <p>We understand the importance of early detection and timely treatment, which is why we have world-class medical care.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
          
          <div id="about" class="section wow fadeIn">
            <div class="container">
               <div class="heading">
                  <span class="icon-logo"><img src="images/icon-logo.png" alt="#"></span>
                  <h2>The Specialist Clinic</h2>
               </div>
               <!-- end title -->
               <div class="row">
                  <div class="col-md-6">
                     <div class="message-box">
                        <h4>What We Do</h4>
                        <h2>Clinic Service</h2>
                        <p class="lead">
                          Peprin Hospital caters to a large spectrum of medical problems and complications all under one roof.<br>
              
                          Peprin Hospital in west Bangalore is most advanced tertiary care facility. <br>
                          It is designed to raise India's global standing as a healthcare destination, with emphasis on excellence in clinical services, diagnostic facilities and rehabilitative services. <br> 
                          It represents a confluence of top-notch talent, cutting edge technology, astounding infrastructure and, most important is commitment of the organization.<br>
                          
                          Peprin Hospital offers doctors and patients cutting edge diagnostic and surgical solutions and furthermore it has the latest IT systems. <br>
                          Peprin Hospital is fully geared-in terms of talent, technology, structure and spirit – to reshape perceptions regarding Hospitals and redefine the concept of caring. 
                        </p>
                        <a href="#services" data-scroll class="btn">Learn More</a>
                     </div>
                     <!-- end messagebox -->
                  </div>
                  <!-- end col -->
                  <div class="col-md-6">
                     <div class="post-media wow fadeIn">
                        <img src="images/about-03.png" alt="" class="img-responsive">
                        <a href="https://www.youtube.com/watch?v=U92cr46-W_s" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
                     </div>
                     <!-- end media -->
                  </div>
                  <!-- end col -->
               </div>
               <!-- end row -->
               <hr class="hr1">
               <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                     <div class="service-widget">
                        <div class="post-media wow fadeIn">
                           <a href="images/clinic_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                           <img src="images/clinic_01.jpg" alt="" class="img-responsive">
                        </div>
                        <h3>Digital Control Center</h3>
                     </div>
                     <!-- end service -->
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                     <div class="service-widget">
                        <div class="post-media wow fadeIn">
                           <a href="images/clinic_02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                           <img src="images/clinic_02.jpg" alt="" class="img-responsive">
                        </div>
                        <h3>Hygienic Operating Room</h3>
                     </div>
                     <!-- end service -->
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                     <div class="service-widget">
                        <div class="post-media wow fadeIn">
                           <a href="images/clinic_03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                           <img src="images/clinic_03.jpg" alt="" class="img-responsive">
                        </div>
                        <h3>Specialist Physicians</h3>
                     </div>
                     <!-- end service -->
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                     <div class="service-widget">
                        <div class="post-media wow fadeIn">
                           <a href="images/clinic_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                           <img src="images/clinic_01.jpg" alt="" class="img-responsive">
                        </div>
                        <h3>Digital Control Center</h3>
                     </div>
                     <!-- end service -->
                  </div>
               </div>
               <!-- end row -->
            </div>
            <!-- end container -->
         </div>
         <div id="service" class="services wow fadeIn">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                     <div class="inner-services">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                           <div class="serv">
                              <a name="services"></a></a>
                              <span class="icon-service"><img src="images/service-icon1.png" alt="#" /></span>
                              <h4>PREMIUM FACILITIES</h4>
                              <p>Bes facilities for all our patients.</p>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                           <div class="serv">
                              <span class="icon-service"><img src="images/service-icon2.png" alt="#" /></span>
                              <h4>LARGE LABORATORY</h4>
                              <p>Spacious and well equipped laboratories.</p>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                           <div class="serv">
                              <span class="icon-service"><img src="images/service-icon3.png" alt="#" /></span>
                              <h4>DETAILED SPECIALIST</h4>
                              <p>Each and every specialist here has an experience of 5+years.</p>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                           <div class="serv">
                              <span class="icon-service"><img src="images/service-icon4.png" alt="#" /></span>
                              <h4>CHILDREN CARE CENTER</h4>
                              <p>Care centers for your children they wouldn't want to leave.</p>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                           <div class="serv">
                              <span class="icon-service"><img src="images/service-icon5.png" alt="#" /></span>
                              <h4>FINE INFRASTRUCTURE</h4>
                              <p>We come under top 10 best infrestructured hospitals in Bangalore.</p>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                           <div class="serv">
                              <span class="icon-service"><img src="images/service-icon6.png" alt="#" /></span>
                              <h4>ANYTIME BLOOD BANK</h4>
                              <p>Blood banks that are available 24x7.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
    </body>
    <!--<script src="/home.js">-->
    </script>
