<head>
    <meta charset="utf-8">
    <title>Peprin Hospital</title>
    <link src="css/custom.css" rel="stylesheet"/>
    <style>
        
        .topnav {
            background-color: #333;
            overflow: hidden;
        }
        
        /* Style the links inside the navigation bar */
        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        
        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
        
        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: rgb(179, 57, 57);
            color: white;
        }
        .container {
            max-width: 550px;
            padding: 10px 20px;
            margin: 30px auto;
            box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
            border-radius: 2px;
        }
        body{
            background-image: url("images/background.jpeg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        p {
        font-family: "Times New Roman", Times, serif;
        font-size: medium;
        font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="topnav">
       
      
        <a class="active" href="meditation">Meditation</a>
       
        
    </div>
    <div class="container">
        <div class="post-media wow fadeIn">
            <p>Click on the image to start a peaceful journey of meditation</p>
            <br>
            <a href="https://www.youtube.com/playlist?list=PLYzUD5yJQ02lgBDVhAW40_J1stpY0eqPz"><img src="images/meditation.jpeg" alt="" class="img-responsive" id=outer></a>
           
        </div>
    </div> 
</body>